@*<footer class="footer-box footer-06">
    <div class="container clearfix">
        <div class="row row-display-table text-center pt-70 pb-70">
            <!-- Social -->
            <div class="col-md-3 vertical-middle">
                <div class="footer-social04">
                    <a href="#" title="facebook"><span class="fa fa-facebook"></span></a> <a href="#" title="twitter"><span class="fa fa-twitter"></span></a> <a href="#" title="linkedin"><span class="fa fa-linkedin"></span></a>
                    <a href="#" title="pinterest"><span class="fa fa-pinterest"></span></a> <a href="#" title="youtube"><span class="fa fa-youtube"></span></a> <a href="#" title="rss"><span class="fa fa-rss"></span></a>
                </div>
            </div>
            <!-- Social End -->
            <div class="col-md-6 vertical-middle text-center">
                <!-- Menu -->
                <ul class="footer-menu02">
                    <li><a href="#" title="Home">Home</a></li>
                    <li><a href="#" title="Portfolio">Portfolio</a></li>
                    <li><a href="#" title="Blog">Blog</a></li>
                    <li><a href="#" title="Features">Features</a></li>
                    <li><a href="#" title="Pages">Pages</a></li>
                    <li><a href="#" title="Contact Us">Contact Us</a></li>
                </ul>
                <!-- Menu End -->
                <!-- Copyright -->
                <p>&copy; @(DateTime.Now.Year) @(Constants.SiteName)<span class="sep">|</span><a href="#" title="Terms of Use">Privacy Statement</a><span class="sep">|</span><a href="#" title="Terms of Use">Terms of Use</a></p>
                <!-- Copyright End -->
            </div>
            <!-- Subscribe -->
            <div class="col-md-3 vertical-middle">
                <div class="footer-form02">
                    <form>
                        <input id="Email" type="text" name="flvname" class="email" placeholder="Enter your email to subscribe" required="">
                        <button type="submit" class="icon"><span class="fa fa-paper-plane-o"></span></button>
                    </form>
                </div>
            </div>
            <!-- Subscribe End -->
        </div>
    </div>
</footer>*@


<footer class="footer-box footer-02">
    <div class="footer-bottom">

        <div class="container clearfix">
            &copy; @(DateTime.Now.Year) @(Constants.SiteName)
            
            <span class="sep">|</span>
            
            <a asp-page="Policy" title="Terms of Use">Политика конфиденциальности</a>

        </div>

</div>
</footer>