<div class="visible-xs visible-sm mobile-header">
    <div class="mobile-nav">
        <div class="container">
            <div class="clearfix">
                <div class="mobile-navbox">
                    <div class="mobile-logo-main  ">
                        <div class="Logobox  ">
	                        <a title="Logo" asp-page="/Index">
		                        @Html.Partial("_Logo", new LogoModel(40))
	                        </a>
                        </div>
                    </div>
                    <div class="mobile-right-icon">
                        <span class="fa fa-reorder" id="ico-menu-mobile"></span>
                    </div>
                    <div id="dng-megamenu-mobile" class="mobile-menu ">
                        @Html.Partial("_Menu")
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>